@model IEnumerable<Mvc02.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h3>Products</h3>




@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="@Html.DisplayForModel(item.Name)">@item.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </td>
    </tr>
}



